#toolGroup {
    width: 20%;
    height: 100vh;
    background-color: lightgray;
    float: left;
}

#background {
    position: relative;
    background-color: black;
    height: 100vh;
}

#myCanvas {
    position: absolute;
    left: 20%;
}

#settingsGroup {
    width: 20%;
    height: 100vh;
    background-color: lightgray;
    float: right;
}

#tools {
    display: block;
    margin: auto;
    margin-top: 10%;
}

#color_palette {
    display: block;
    margin: auto;
    margin-top: 10%;
}

#linewidth-chooser {
    margin-top: 10%;
    float: right;
}

#linewidth-chooser circle {
    fill: white;
}

.bottom-side {
    position: absolute;
    top: 60vh;
    left: 85vw;
}
